
<div class="card">
        <h5 class="card-title">{{song.name}}</h5>
    <img src="{{url_for('static', filename='img/song_thumbnail.jpg')}}" class="card-img-top" alt="...">
    <audio controls>
  <source src="{{url_for('static', filename='songs/'+song.id|string+'.mp3')}}" type="audio/mpeg">

</audio>
    <div class="card-body">

  <ul class="list-group list-group-flush">
    Lyrics:
    <li class="list-group-item">{{song.lyrics}}</li>
    Duration:
    <li class="list-group-item">{{song.duration}}</li>
    Date:
    <li class="list-group-item">{{song.date}}</li>
  </ul>
    </div>
  </div>