    <form action="/register", method="POST">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email</label>
            <input type="text" class='form-control'id='exampleFormControlInput1' placeholder="name@example.com" name="email">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Password</label>
            <input type="password" class='form-control'id='exampleFormControlInput1' placeholder="xyz" name="password">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Confirm Password</label>
            <input type="password" class='form-control'id='exampleFormControlInput1' placeholder="xyz" name="ConfirmPassword">
        </div>

        <button type="submit" class="btn btn-warning">Register</button>
    </form>