{% extends './layouts/layout.html' %}

{% block body %}
{% include './BasicComponents/navbar.html'   %}
{% include './BasicComponents/flash.html'   %}




<div class="container text-center">
    <div class="row">
        <div class="col">
            <h1>Login Form</h1>
            {% include './BasicComponents/login_form.html'   %}
        </div>

        <div class="col">
            <h1>Registration Form</h1>
            {% include './BasicComponents/register_form.html'   %}
        </div>
    </div>
</div>
   
{% endblock %}