{% extends './layouts/layout.html' %}
{% include './BasicComponents/navbar.html'   %}
{% include './BasicComponents/flash.html'   %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-4">
            <h4>Upload Songs</h4>
            <br>
            {% include './SongsComponents/upload_song.html'   %}
        </div>
        <div class="col-4">
            <h4>Show Songs</h4>
            <br>
            {% include './SongsComponents/show_songs.html'   %}

        </div>
        <div class="col-4">
            <h4>Playing Songs</h4>
            <br> 
            {% include './SongsComponents/play_song.html'   %}
        </div>
    </div>
</div>
    
{% endblock %}
